
.container {
  max-width: 1140px;
  margin: $margin-base auto;
  position: relative;
  @extend %horizontal-padding;
}

.container-fluid {
  @extend %margin-right-auto;
  @extend %margin-left-auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}


/*------------------------------------*\
   CONTAINER
\*------------------------------------*/

$width: (
    "full":           100%,
    "half":           50%,
    "max-width":      1140px,
    "min-width":      500px,
);

@each $name, $value in $width {
    //Css class
    #{$css-class}container--#{$name} {
        width: $value;
    };
    //Silent class
    @if $use-silent-classes == true {
      #{$silent-class}container--#{$name} {
          width: $value;
      };
   };
};
