.documentation-body {
  padding: 50px;
}
.header {
  background-color: #355C7D;
  width: 100%;
  height: 60px;
}
.content-1 {
  .content-item {
    height: 85vh;
  }
  .nav {
    background-color: #c06c84;
  }
  .content {
    background-color: #f67280;
  }
}

.footer {
  background-color: #6c5b7b;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 60px;
}

.content-2 {
  width: 100%;
  .content-item {
    height: 85vh;
  }
  :not(:first-child):not(:last-child) {
    background-color: #c06c84;
  }
}
.content-3 {
  .content-item {
    height: 85vh;
    background-color: #f67280;
    border: solid 1px #cccccc;
  }
}

.icons-container {
  width: 40px;
}
.tags-color {
  color: #b83540;
}
.tags-icon {
  color: #d4d4d4;
}
.margin-0 {
  margin: 0px;
}
.m-bot-40 {
  margin-bottom: 40px;
}
.p-left {
  padding-left: 15px;
}
.orange-color {
  color: #f19338;
}
.green-color {
  color: #a6db47;
}
